
body{
    background-image: url('img/logo.png');
    background-repeat: repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
.navbar{
    background-image: linear-gradient(to top, rgba(13, 202, 240, 0), rgba(13, 202, 240, 1)) !important;
}
.navbar-brand {
    font-family: sans-serif; /* Cambia 'Arial' por la fuente que prefieras */
    font-size: 2em;
}
.offcanvas-title{
    font-size: 3em;
} 
#carouselExampleFade{
    margin-top: 8em;
}
.carousel-item img{
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5) !important; /* Opacidad hacia oscuro */
}
.carousel-control-prev, .carousel-control-next {
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important; /* Opacidad hacia oscuro */
}
.carousel-control-prev, .carousel-control-next {
    width: 70px; /* Ajusta este valor según sea necesario */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px; /* Ajusta este valor según sea necesario */
    height: 20px; /* Ajusta este valor según sea necesario */
    background-size: 20px 20px; /* Ajusta este valor según sea necesario */
}
.badge{
    box-shadow: black 1em;
    text-align: center;
    font-size: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1em;
}
form{
    margin-left: 65em;
    display: flex;
}
.row{
    margin-top: 5em !important;
}
.container-titulo{
    background-image: url('img/iron.png') !;
}